body{
  background: #fff;
}
.header{
  width: 100%;
  height: 550px;
  background-size:cover;
  background: url(../img/landing_pic.png) no-repeat -400px;
}
.header .container{
  z-index: 20;
  position: relative;
}
.orangeblur{
  position: absolute;
  top: 0;
  width: 100%;
  height: 550px;
  background: url(../img/gradients.png) no-repeat;
}
.gradient-overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 550px;
  opacity: .9;
  background: #442b1f;
}
.header ul{
  float: right;
}
.header ul li{
margin:0;
display: inline-block;
padding: 10px 10px;
text-transform: uppercase;
font-weight: 300;
}
.header li a{
  text-decoration: none;
  color:#fff;
}
.pepewrapper{
  width: 180px;
  height: 180px;
  background: #fff;
  overflow: hidden;
  border-radius: 50em;
  margin-left: auto;
    margin-right: auto;
}

.calls{
  text-align: center;
  width: 100%;
}
.calltoaction{
  border-radius: 5px;
  border: 1px solid #fff;
  color:#fff;
  padding: 10px 45px;
  font-weight: 100;
  font-size:1.2em !important;
  text-align: center;
}
.msncircle{
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50em;
  position: absolute;
  float: left;
  margin-top: -6px;
  margin-left: -50px;
}
.msncircle img{
  width: 26px;
  margin-top: 8px;
}
.BettaButton{
  border-radius: 5px;
  border: 1px solid #0084ff;
  background: #0084ff;
  color:#fff;
  padding: 10px 25px;
  margin-top: 20px;
  font-weight: 100;
  width: 350px;
  display: block;
  margin-left: auto;
  background-size: 30px;
  margin-right: auto;
  font-size:1.2em !important;
  text-align: center;
}

.callText{
  color:#fff;
  font-size: 2em;
  font-weight: 300;
  display: block;
  text-align: center;
}

#logoHolder h1{
  margin: 0;
  padding: 20px 0;
  color:#fff;
  font-size: 1.5em;
  font-weight: 700;
}
.logoimg{
  display: block;
  text-align: center;
}
.name{
  color:#8d5c45;
  font-weight: 700;
  font-size: 1.1em;
}
img.logo{
  width: 150px;
  width: 150px;
      margin-top: 8px;
      margin-left: 8px;
}
.phoneholder{
  /*position: absolute;*/
  margin-top: -100px;
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 50;

}
.phoneholder img{
  width: 400px;
}

.phone p{
  font-size: 1.2em;
  font-weight: 300;
}
.phone h3{
  font-weight: 700;
  font-size: 1.5em;
  color:#444649;
}
.phoneNumber{
  color:#8d5c45;
  font-weight: 700;
  font-size: 1.5em;
}
.services{text-align: center;}
.services img{
  width: 30px;
}
.call2actfooter{
  border-top: 1px solid #9c9c9c;
  text-align: center;
}
